.firstLetter::first-letter {
  font-size: 120%;
  color: #2de218;
  text-transform: capitalize;
}

.user-input-input {
  color: #000000;
}

.center {
  text-align: center;
}

.table-width {
  width: 50%;
}
